<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Return to Robots</title>
  <link rel="stylesheet" href="./main.css" >
</head>

<body>
  <header>
    <h1>Unemployed Robots</h1>
    <p class="lead">Using the <b>MongoDB</b> Node library, create the LinkedIn for Robots project.</p>
    <nav>
      <ul>
        <li><a href="/index">All Robots</a></li>
        <li><a href="/employed">Employed</a></li>
        <li><a href="/unemployed">Looking for work</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    {{#users}}
    <div class="user">
      <img src={{avatar}}>
      <h2>{{name}}</h2>
      <p><span>{{job}}</span> {{company}}</p>
    </div>
    {{/users}}
  </main>
</body>
</html>
